<div class="container" [routerLink]="['/events/detail', event.trcid]">
  <div class="row">
      <div class="col-md-4">
        {{ event.title }}
      </div>
      <div class="col-md-2">
        {{ event.location.city }}
      </div>
      <div class="col-md-1">
        {{ event.location.zipcode }}
      </div>
      <div class="col-md-3">
        {{ event.location.adress }}
      </div>
      <div class="col-md-2 text-right" *ngIf="event.dates.singles">
        {{ event.dates.singles[0] }}
      </div>
      <div class="col-md-2 text-right" *ngIf="!event.dates.singles">
        n/a
      </div>
  </div>
</div>
