<div class="container">
  <!-- filters -->
  <div>
    <div class="row">
      <div class="col-sm-4">
        <label>Search by title:</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="titleSearchTerm" />
      </div>
      <div class="col-sm-4">
        <label>Search by ZIP:</label>
        <input type="text" class="form-control" name="zipcode" [(ngModel)]="zipSearchTerm">
      </div>
      <div class="col-sm-4">
        <label>Search by year:</label>
        <input type="text" class="form-control" name="year" [(ngModel)]="yearSearchTerm">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12" id="filterCity">
        <label>Search by city:</label>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#cities">Select cities</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div id="selectedCities">Selected items: <span *ngFor="let filterItem of checked()" style="padding-right:10px;"> {{ filterItem.name }} </span></div>
      </div>
    </div>
    <div class="row">
      <div id="cities" class="collapse">
        <span *ngFor="let city of citiesFilter | orderBy:'name':false">
          <div class="checkbox">
            <div><input type="checkbox" [(ngModel)]="city.checked" [value]="city.name">{{ city.name }}</div>
          </div>
        </span>
      </div>
    </div>
  </div>

  <img class="horizontal-separator" src="../../../../assets/images/web_separator.png" alt="web_separator">

  <!-- headers -->
  <div class="row">
    <div class="col-md-4">
      <h3>Name</h3>
    </div>
    <div class="col-md-2">
      <h3>City</h3>
    </div>
    <div class="col-md-1">
      <h3>ZIP Code</h3>
    </div>
    <div class="col-md-3">
      <h3>Address</h3>
    </div>
    <div class="col-md-2 text-right">
      <h3>Start Year</h3>
    </div>
  </div>

  <!-- data -->
  <div *ngFor="let place of places | substringFilter:titleSearchTerm:zipSearchTerm:yearSearchTerm | cityFilter: { 'location.city': ''} : checked() : false">
    <app-place-item [place]="place"></app-place-item>
  </div>
</div>
