<app-header></app-header>

<div class="container text-center">
  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitch1" (change)="checkChange($event)">
    <label class="custom-control-label" for="customSwitch1">List/Map</label>
  </div>
</div>

<router-outlet></router-outlet>

<!--<app-places-list></app-places-list>-->

<app-footer></app-footer>

<button type="button" class="btn btn-dark" (click)="topFunction()" id="goTopBtn" title="Go to top">Top</button>

